{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3" id="navbar">
        <h2 class="text-right">Cut[t] redirector</h2>
        <br>

        <ul class="nav nav-tabs nav-justified" id="navigation">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'cutt-create' %}" data-target="#create">new url</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cutt-list' %}" data-target="#list">list</a>
            </li>
        </ul> <!-- .nav -->
    </div> <!-- .container mt-3 -->
    <div class="container mt-3">
        <div class="tab-content">
            <div id="create" class="container tab-pane active"></div>
            <div id="list" class="container tab-pane fade"></div>
        </div>  <!-- .tab-content -->
    </div> <!-- .container mt-3 -->
{% endblock %}