
{% if object_list %}
    <div class='row mb-3 pt-1 pb-1 text-center border-bottom bg-light'>
            <div class="col-md-6 mb-0">Original url</div>
            <div class="col-md-6 mb-0 border-left">Short url</div>
    </div>
    {% for item in object_list %}
        <div class='row mb-3 pb-1 border-bottom'>
            <div class="col-md-6 mb-0 pl-5">{{ item.url_original }}</div>
            <div class="col-md-6 mb-0 pl-5 border-left">{{ item.url_short }}</div>
        </div>
    {% endfor %}
{% endif %}
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination justify-content-end">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
