{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-3" id="navbar">
        <h2 class="text-center">Cut[t] redirector</h2>
        <br>
        <img src="{% static "img/advert.jpg" %}" alt="Advertising" class="center-block">
    </div> <!-- .container -->
{% endblock %}
